@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-BoldItalic;
    src: url(../fonts/OpenSans-BoldItalic.ttf);
}
@font-face {
    font-family: OpenSans-CondBold;
    src: url(../fonts/OpenSans-CondBold.ttf);
}
@font-face {
    font-family: OpenSans-CondLight;
    src: url(../fonts/OpenSans-CondLight.ttf);
}
@font-face {
    font-family: OpenSans-CondLightItalic;
    src: url(../fonts/OpenSans-CondLightItalic.ttf);
}
@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
    font-family: OpenSans-ExtraBoldItalic;
    src: url(../fonts/OpenSans-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: OpenSans-Italic;
    src: url(../fonts/OpenSans-Italic.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Semibold;
    src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face {
    font-family: OpenSans-SemiboldItalic;
    src: url(../fonts/OpenSans-SemiboldItalic.ttf);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time,
mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%; font: inherit;  vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
textarea {resize: none;}
body {line-height: 1;font-family: OpenSans-Regular;background: #ffffff none repeat scroll 0 0;}
ol, ul {list- style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse; border-spacing: 0;}
a:focus, a:hover {text-decoration:none;transition:all ease 0.3s;outline: medium none;}
select{-moz-appearance: none;text-indent: 0px;text-overflow: "";-webkit-appearance: none;outline: medium none;}

body{margin: 0;padding: 0}
*{box-sizing: border-box;}
.header {padding: 10px 50px;width: 100%; background: rgba(0,0,0,0.5);    float: left;    position: relative; z-index: 10;}
.menu {width: 79.5%;float: left;text-align: right;}
.logo {width: 20.5%;float: left; margin-top: 16px;}
.menu li {display: inline-block; margin: 0 15px;font-family: OpenSans-Regular;}
.menu li a {color: #ffffff;font-size: 21.76px;text-transform: uppercase;text-decoration: none;}
.banner{background: url(../images/banner.jpg);height: 1010px;width: 100%;		}
/*.banner_box{background: url(../images/banner.jpg);height: 1010px;width: 100%;}*/
.snacks_txt{float: left;width: 50%;padding: 0 80px 0 60px;height: 100%; background: #e6e6e6;border-radius: 0 50px 50px 0;}
.breakfast, .food{padding: 0px 35px;height: 770px;width: 100%;float: left;}
.breakfast{margin: 0px 0 55px 0}
.food{margin: 55px 0}
.snacks_img{background: url(../images/breakfast.jpg) no-repeat;height: 100%;width: 50%;float: left;border-radius: 50px 0 0 50px;}
.snacks_txt h4 {margin-top: 270px;font-size: 107.78px;color: #b5b5b5;font-family: OpenSans-ExtraBold;text-transform: uppercase;}
.snacks_txt h1 {font-size: 146.43px;color: #b5b5b5;text-transform: uppercase;font-family: OpenSans-ExtraBold;}
.snacks_txt p {font-size: 28.43px; color: #8a8a8a;font-family: OpenSans-Light;line-height: 33px;}
.food_txt h4 {font-size: 107.78px;color: #b5b5b5;font-family: OpenSans-ExtraBold;text-transform: uppercase;}
.food_txt p {font-size: 28.43px; color: #8a8a8a;font-family: OpenSans-Light;line-height: 33px;}
.food_txt{float: left;width: 40%;padding: 240px 55px 0 55px;height: 100%; background: #e6e6e6;border-radius: 50px 0px 0px 50px; position: relative;}
.food_img{background: url(../images/food.jpg) no-repeat;height: 770px;width: 60%;float: left;border-radius: 0px 50px 50px 0px;}
.food_txt h4 {margin-top: 0px;font-size: 107.78px;color: #b5b5b5;font-family: OpenSans-ExtraBold;text-transform: uppercase;}
.food_txt p {font-size: 28.43px; color: #8a8a8a;font-family: OpenSans-Light;line-height: 33px;}
.appliances_dv{width: 100%;float: left;background: #eaeaea;height: 600px;border-radius: 30px;}
.item_img{height: 320px;width: 220px;margin: 0 auto;}
.item_img {height: 320px;width: 220px; margin: 0 auto;}
.item_details {padding: 20px 30px;}
.item_details p{font-size: 22.76px;font-family: OpenSans-Bold;color: #191919;margin-bottom: 10px;}
.item_price p{font-size: 26.66px;color: #191919;font-family: OpenSans-Regular;text-align: left;    margin-bottom: 30px;}
.item_price {text-align: center;}
.item_price p span.discount_rate{font-size: 24.17px;color: #e60d2e;text-decoration: line-through;font-family: OpenSans-Bold;}
.item_price a{font-size: 22.37px;text-decoration: none;background: #2c2c2c;display: inline-block;color: #ffffff;width: 225px;height: 50px;margin: 0 auto; text-align: center;line-height: 50px;}
.item_dv {padding: 0 0px;width: 100%;float: left;}
.check_item {text-align: left;margin: 25px;}
.check_item span { font-size: 19.38px;color: #191919}
.item_img img {height: 100%;object-fit: scale-down;width: 100%;}
.search_icn, .cart_icn, .arrow_icn{display: inline-block;background: url('../images/sprite.png') no-repeat;display: inline-block;}
.arrow_icn {background-position: -12px -11px;width: 20px;height: 11px;}
.cart_icn {background-position: -94px -9px;	width: 44px;height: 41px;}
.search_icn {background-position: -47px -9px;width: 32px;height: 33px;}
.menu li a:hover .sub_menu{display: inherit;}
.sub_menu {width: auto;padding: 20px;background: rgba(255,255,255,0.2);text-align: left;display: none;}
.topnav { overflow: hidden;float: right;  }
.topnav a {float: left;display: block;color: #f2f2f2;text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;text-transform: uppercase;}
.topnav .icon {display: none;}
.topnav a.marT {margin-top: 10px;}
.dropdown {float: left;overflow: hidden;margin-top: 7px;}
.dropdown .dropbtn {font-size: 17px;border: none;outline: none;color: white;padding: 14px 16px;background-color: inherit;font-family: inherit;margin: 0;text-transform: uppercase;}
.dropdown-content {display: none;position: absolute;background-color: #f9f9f9;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;}
.dropdown-content a {float: none;color: black;padding: 12px 16px;text-decoration: none;display: block;text-align: left;}
.topnav a:hover, .dropdown:hover .dropbtn {color: white;}
.dropdown-content a:hover {background-color: #ddd;color: black;}
.dropdown:hover .dropdown-content {display: block;}


@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}




.home_slider{
  
  width:100%;
  height:500px;
 
}

.item {
  width:100%;
  height:500px;
  background-position:
  background-size:cover;
 
}


.partners-box{width:100%; float: left; margin:10px 0px 30px 0px; padding: 0px 30px;}
.partners-image-box{background-color: #ffffff;height: 602px;}
.partners-box .owl-nav .owl-prev{position: absolute; bottom: 56px; left: -40px;}
.partners-box .owl-nav .owl-next{position: absolute; bottom: 56px; right: -40px;}
.partners-box .owl-nav img{outline: none;}
.artof_dv{background: url(../images/banner1.jpg) no-repeat;width: 100%;height: 790px;clear: both;position: relative;margin: 60px 0 50px;}
.art_txt p {
    font-size: 61.17px;
    text-transform: uppercase;
}

.art_txt {
 float: left;width: 50%;color: #ffffff;    padding-left: 11%;
    margin-top: 18%;
}
.perfect_txt{width: 42%;float: left;color: #ffffff;text-align: right;margin-top: 18%;}

.perfect_txt p{font-size: 65.22px;font-family: OpenSans-ExtraBold;text-transform: uppercase;}

.perfect_txt span{font-size: 34.2px}
.banner_links {
    position: absolute;
    bottom: 35px;
    text-align: center;
    width: 100%;    color: #ffffff;
}
.artof_dv a {
    color: #ffffff;
    font-size: 14.19px;
    display: inline-block;
    text-decoration: none;
    margin: 0 50px;
}
.cooking_txt{float: left;width: 40%;padding: 0 80px 0 40px;height: 100%; background: #e6e6e6;border-radius: 0 50px 50px 0;}
.cooking{padding: 0px 35px;height: 770px;width: 100%;margin: 40px 0 55px 0;float: left;}
.cooking_img{background: url(../images/cooking.jpg) no-repeat;height: 100%;width: 60%;float: left;border-radius: 50px 0 0 50px;}

.cooking_txt h4 {margin-top: 270px;font-size: 121.75px;color: #b5b5b5;font-family: OpenSans-ExtraBold;text-transform: uppercase;}
.cooking_txt h1 {font-size: 73.92px;color: #b5b5b5;text-transform: uppercase;font-family: OpenSans-ExtraBold;}
.cooking_txt p {font-size: 28.43px; color: #8a8a8a;font-family: OpenSans-Light;line-height: 33px;}
.xplor_dv{background: url(../images/banner3.png) no-repeat;width: 100%;height: 1034px;clear: both;position: relative;margin: 60px 0 50px;}
.xplor_txt {
    width: 20%;
    float: left;
    position: absolute;
    top: 66%;
    left: 9%;
}
.xplor_txt p{font-size: 20.83px;font-family: OpenSans-Light;color: #606060;line-height: 25px;}
.xplor_btn a{width: 201px;height: 49px;line-height: 49px;text-align: center;background: #e60d2e;display: inline-block;color: #ffffff;text-transform: uppercase;text-decoration: none;margin-top:25px; }
.view_btn a{font-size: 22.35px;color: #ffffff;width: 302px;height: 57px;display: inline-block;line-height: 57px;text-align: center;background: #de0c2c;text-decoration: none;text-transform: uppercase;float: right;z-index: 1;position: relative;}
.view_btn{clear: both;float: right;margin-top: 30px;margin-right: 20px;position: relative;width: 100%;}
.view_btn:before{content:"";background: #575757;width: 100%;height: 1px;position: absolute;top: 30px;}
footer {
    width: 100%;
    padding: 85px 20px;
    background: #e0e0e0;
    float: left;
}
.footer_dv {
    width: 18%;
    float: left;
}
.subsribe_dv {
    width: 26%;float: left; padding-left: 2.5%;}
.footer_dv h3 {color: #989898;font-size: 19.75px;text-transform: capitalize;font-family: OpenSans-ExtraBold;margin-bottom: 15px;}
.footer_dv ul li a {color: #989898;font-size: 19.75px;text-transform: capitalize;font-family: OpenSans-Regular;margin-bottom: 15px;text-decoration: none;}
.footer_dv ul li{list-style: none;margin-bottom: 10px;}
.subsribe_dv h3{color: #989898;font-size: 19.75px;text-transform: capitalize;font-family: OpenSans-ExtraBold;margin-bottom: 15px;}
.subsribe_dv p{color: #989898;font-size: 19.75px;font-family: OpenSans-Regular;margin-bottom: 15px;}
.subsribe_dv:before {content: "";width: 1px;height: 200px;background: #ffffff;position: absolute;left: 0;top: -20px;}
.subscribe input{width: 189px;height: 39px;float: left;background: transparent;border: 1px solid #989898;font-size: 14.58px;color: #989898;padding: 0 15px;}
.subscribe a{width: 134px;height: 39px;background: #ffffff;float: left;font-size: 18.74px;color: #262626;text-decoration: none;line-height: 39px;text-align: center;}





#slider{
  width:100%;
  height:1010px;
  position:relative;
  overflow:hidden;
}
@keyframes load{
  from{left:-100%;}
  to{left:0;}
}
.slides{
  width:400%;
  height:100%;
  position:relative;
  -webkit-animation:slide 30s infinite;
  -moz-animation:slide 30s infinite;
  animation:slide 30s infinite;
}
.slider{
  width:25%;
  height:100%;
  float:left;
  position:relative;
  z-index:1;
  overflow:hidden;
}
.slide img{
  width:100%;
  height:100%;
}
.slide img{
  width:100%;
  height:100%;
}
.image{
  width:100%;
  height:100%;
}
.image img{
  width:100%;
  height:100%;
}


.legend{
  border:500px solid transparent;
  border-left:800px solid rgba(52, 73, 94, .7);
  border-bottom:0;
  position:absolute;
  bottom:0;
}

/* Contents */
.content{
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
}
.content-txt{
  width:750px;
  float:left;
  position:relative;
  top:32%;
  left: 10%;
  -webkit-animation:content-s 7.5s infinite;
  -moz-animation:content-s 7.5s infinite;
  animation:content-s 7.5s infinite;
  margin-left: 13%;
}
.content-txt h1{font-size: 56.81px;color: #c9c9c9;text-transform: uppercase;}
.content-txt h1 span{font-family: OpenSans-ExtraBold;}
.content-txt a{width: 193px;height: 47px;background: #313131;color: #ffffff;font-size: 20.35px;font-family: OpenSans-Semibold;text-decoration: none;display: inline-block;float: right;line-height: 47px;text-align: center;margin-top: 25px;text-transform: uppercase;}
/* Animation */
@-webkit-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@-moz-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}

@-webkit-keyframes content-s{
  0%{left:-1000px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-1000px;}
  90%{left:-1000px;}
  100%{left:-1000px;}
}
@-moz-keyframes content-s{
  0%{left:-1000px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-1000px;}
  90%{left:-1000px;}
  100%{left:-1000px;}
}
@keyframes content-s{
  0%{left:-750px;}
  10%{left:20px;}
  15%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-1000px;}
  90%{left:-1000px;}
  100%{left:-1000px;}
}

@-webkit-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@-moz-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

/*owl css*/
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: none;
        touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 *  Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 *  Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 *  Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }


  /**
 * Owl Carousel v2.3.3
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

 .mobile_bar{display: none;}   
 .closebtn{display: none;}  


@media only screen and (min-width: 320px) and (max-width: 767px) {
 .mobile_bar{display: block;}
 .closebtn{display: block;}
 .topnav {background-color: #525251;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);opacity: 0.95;
display: block;height: 100%;left: 0;overflow-x: hidden; padding-top: 35px; position: fixed;top: 0;transition: all 0.5s ease 0s;width: 0; z-index: 999;}
.mobile_bar button span {background: #ffffff none repeat scroll 0 0; width:19px;height: 3px;margin-top: 3px;display: block;}    
.mobile_bar button{background: transparent;border: none;}
.topnav a.closebtn {position: relative;float: right;width: 20px;top: -20px;right: 10px;font-size: 20px;}
.dropdown-content{position: static;min-width: 210px}
.topnav .dropdown-content a { padding-top: 10px;}
.logo{width: 85%;margin-top: 5px;}
.logo img{width: 100%;}
.header{padding: 10px 20px;}
.menu{width: 15%;margin-top: 13px;}
#slider{height: 250px;}
.content-txt h1{font-size: 21px;}
.content-txt{width: 100%;}
.content-txt a{margin-right: 140px;}
.snacks_img, .snacks_txt, .food_txt, .food_img, .cooking_img, .cooking_txt{width: 100%;height: 200px;border-radius: 0;padding: 20px}
.snacks_txt h4, .food_txt h4, .cooking_txt h4{font-size: 30px;margin-top:0;}
.snacks_txt h1, .food_txt h1, .cooking_txt h1{font-size: 40px;}
.snacks_txt p, .food_txt p, .cooking_txt p{line-height: 15px;margin-top: 10px;font-size: 14px}
.breakfast, .food, .cooking{height: 400px;}
.item_img{height: 140px}
.appliances_dv{height: auto;}
.owl-nav {display: none;}
.partners-image-box{height: 390px}
.view_btn a{height: 45px;line-height: 45px;font-size: 18px;width: 180px;}
.view_btn:before{top: 24px;}
.artof_dv, .xplor_dv{display: none;}
.food {margin: 20px 0;}
.food_img, .cooking_img, .snacks_img{background-size: cover;}
footer{padding: 35px 20px;}
.footer_dv, .subsribe_dv{width: 100%}
.footer_dv{margin-bottom: 20px;}
.topnav a{width: 100%;font-size: 15px;text-align: left;padding: 0 15px 10px}
.dropdown .dropbtn{font-size: 15px;padding: 0 15px 10px} 

}

@media (min-width: 768px) and (max-width: 990px) {
  .dropdown .dropbtn, .topnav a{font-size: 15px;padding: 14px 10px;}
  .logo img{width: 100%;}
  .header{padding: 10px 15px;}
.menu{width: 100%}
.logo{width: 30%;}
.topnav a.closebtn{display: none;}


#slider{height: 450px;}
.content-txt h1{font-size: 21px;}
.content-txt{width: 54%;}
.content-txt a{margin-right: 140px;}
.snacks_img, .snacks_txt, .food_txt, .food_img, .cooking_img, .cooking_txt{width: 50%;height: 200px;padding: 20px}
.snacks_txt h4, .food_txt h4, .cooking_txt h4{font-size: 30px;margin-top:0;}
.snacks_txt h1, .food_txt h1, .cooking_txt h1{font-size: 40px;}
.snacks_txt p, .food_txt p, .cooking_txt p{line-height: 15px;margin-top: 10px;font-size: 14px}
.breakfast, .food, .cooking{height: 200px;}
.item_img{height: 140px}
.appliances_dv{height: auto;}
.owl-nav {display: none;}
.partners-image-box{height: 390px}
.view_btn a{height: 45px;line-height: 45px;font-size: 18px;width: 180px;}
.view_btn:before{top: 24px;}
.artof_dv, .xplor_dv{display: none;}
.food { margin: 20px 0;}
.food_img, .cooking_img, .snacks_img{background-size: cover;}
footer{padding: 35px 20px;}
.footer_dv, .subsribe_dv{width: 50%}
.footer_dv{margin-bottom: 20px;}
.footer_dv.clear_sm {clear: both;}





}

@media (min-width: 991px) and (max-width: 1199px) {

  .dropdown .dropbtn, .topnav a{font-size: 15px;padding: 14px 10px;}
  .logo img{width: 100%;}
  .header{padding: 10px 15px;}
.menu{width: 75%}
.logo{width: 25%;}
.topnav a.closebtn{display: none;}


#slider{height: 450px;}
.content-txt h1{font-size: 21px;}
.content-txt{width: 54%;}
.content-txt a{margin-right: 140px;}
.snacks_img, .snacks_txt, .food_txt, .food_img, .cooking_img, .cooking_txt{width: 50%;height: 260px;padding: 20px}
.snacks_txt h4, .food_txt h4, .cooking_txt h4{font-size: 56px;margin-top:0;}
.snacks_txt h1, .food_txt h1, .cooking_txt h1{font-size: 70px;}
.snacks_txt p, .food_txt p, .cooking_txt p{line-height: 21px;margin-top: 10px;font-size: 18px}
.breakfast, .food, .cooking{height: 260px;}
.item_img{height: 140px}
.appliances_dv{height: auto;}
.owl-nav {display: none;}
.partners-image-box{height: 390px}
.view_btn a{height: 45px;line-height: 45px;font-size: 18px;width: 180px;}
.view_btn:before{top: 24px;}
.artof_dv, .xplor_dv{display: none;}
.food { margin: 20px 0;}
.food_img, .cooking_img, .snacks_img{background-size: cover;}
footer{padding: 35px 20px;}
.footer_dv{width: 33%}
.subsribe_dv{width: 50%}
.footer_dv{margin-bottom: 20px;}
.footer_dv.clear_sm1 {clear: both;}




}

@media (min-width: 1200px) and (max-width: 1600px) {

  .dropdown .dropbtn, .topnav a{font-size: 15px;padding: 14px 10px;}
  .logo img{width: 100%;}
  .header{padding: 10px 15px;}
.menu{width: 75%}
.logo{width: 25%;}
.topnav a.closebtn{display: none;}


#slider{height: 650px;}
.content-txt h1{font-size: 48px;}
.content-txt{width: 40%;}
.content-txt a{margin-right: 10px;}
.snacks_img, .snacks_txt, .food_txt, .food_img, .cooking_img, .cooking_txt{width: 50%;height: 500px;padding: 20px}
.snacks_txt h4, .cooking_txt h4{font-size: 90px;margin-top:50px;}
.food_txt h4{margin-top: 0}
.food_txt {
    padding-top: 100px;
    padding-left: 50px;
}
.snacks_txt h1, .food_txt h1{font-size: 110px;}
.cooking_txt h1 {font-size: 90px;}
.snacks_txt p, .food_txt p, .cooking_txt p{line-height: 32px;margin-top: 10px;font-size: 25px}
.breakfast, .food, .cooking{height: 520px;}
.item_img{height: 240px}
.item_price p{font-size: 21px}
.appliances_dv{height: 500px;}
.owl-nav {display: none;}
.partners-image-box{height: 390px}
.view_btn a{height: 45px;line-height: 45px;font-size: 18px;width: 180px;}
.view_btn:before{top: 24px;}
.xplor_dv{display: none;}
.artof_dv{background-size: cover;height: 670px;}
.food { margin: 20px 0;}
.food_img, .cooking_img, .snacks_img{background-size: cover;}
footer{padding: 35px 20px;}
.footer_dv{width: 18%}
.subsribe_dv{width: 27%}
.footer_dv{margin-bottom: 20px;}





}